[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rafihyahya/Desktop/CURRENTLY_WORKING_ON_IT(PROJS)_MIGHT_BE_OLD_OR_DUPLICATE]
row=1
col=8

[/home/rafihyahya/Desktop/D_FORGET.txt]
row=2
col=7

[/home/rafihyahya/Desktop/bookmarksfinalone_level2-r-no_pk.html]
row=3
col=8

[36DA78851E0D4EFC]
row=3
col=0

[f6fa1535-f717-46e1-99c7-f4f34a4738e9]
row=0
col=1

[1C94DC336C44C78B]
row=4
col=0

[Wastebasket]
row=2
col=0

[/]
row=0
col=0

[/home/rafihyahya]
row=1
col=0

